[submodule "modules/liteeth"]
	path = modules/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "modules/liteiclink"]
	path = modules/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "utils/pyVHDLinstTemplate"]
	path = utils/pyVHDLinstTemplate
	url = https://github.com/JochiSt/pyVHDLinstTemplate.git
