.Xil

# generated folders
*.cache/
*.hbs/
*.hw/
*.ip_user_files/
*.runs/

# generated scripts and files
*.tcl
*.xpr

# targets from HDLmake
project
par
synthesize
bitstream

*.jou
*.log

# ignore generated Makefile (by HDLmake)
Makefile
